/* 
    Document   : neo1
    Created on : 14 Ιαν 2013, 1:42:18 μμ
    Author     : marouli
    Description:
        Purpose of the stylesheet follows.
*/

h1 { 
    
    color:red;
}

div.nio2{
    color:red;
}



